.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__input_type_sign {
  background-color: black;
  border: none;
  border-bottom: 2px solid #CCC;;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


