.content__section {
  width: 100%;
  margin-bottom: 50px;
  padding: 0 200px;
  box-sizing: border-box;
}

@media all and (max-width: 1279px) {
  .content__section {
    padding: 0 calc(100% / 2 - 440px);
  }
}

@media all and (max-width: 920px) {
  .content__section {
    margin-bottom: 36px;
    padding: 0 19px;
  }
}


